<h1>Salut lume!</h1>

@foreach (Cod.Models.Post post in ViewBag.Posts)
{
    <div class="card">
        @Html.Partial("PostContent", post)
        @foreach (Comment comment in post.Comments)
        {
            @Html.Partial("CommentContent", comment)
        }
    </div>
    <br />
}