@if (ViewBag.message != null)
{
    <div class="alert @ViewBag.messageType p-3 rounded-3 text-center mb-5" role="alert"> @ViewBag.message </div>
}

@{
    ViewBag.Title = "Listeaza postari";
}

<h1 class="text-center"> @ViewBag.Title </h1>
<hr />
<br />

@foreach (Cod.Models.Post post in ViewBag.Posts)
{
    <div class="card">
        @Html.Partial("PostContent", post)
        @* TODO adauga ceva genu buton comentarii ascunse apesi pe el te duce pe post show lalala *@
    </div>
    <br />
}
<br/>