@model Cod.Models.Post
@{
    ViewBag.Title = "Afisare postare";
}

<h1 class="text-center">@ViewBag.Title</h1>
<hr/>
<br />

<div class="card">
    @Html.Partial("PostShowContent", Model)
    @foreach (Comment comment in Model.Comments)
    {
        <div class="card m-2 p-2">
            @Html.Partial("CommentContent", comment)
        </div>
    }
</div>
<br />