@model Cod.Models.Post

<div class="card">
    @Html.Partial("PostContent", Model)
    <div class="d-flex flex-row justify-content-between p-2 pt-0">
        <a class="btn btn-success" href="/Posts/Edit/@Model.Id">Editeaza postare</a>

        <form method="post" action="/Posts/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Sterge postare</button>
        </form>
    </div>
    @foreach (Comment comment in Model.Comments)
    {
        <div class="card m-2 p-2">
            @Html.Partial("CommentContent", comment)
            <div class="d-flex flex-row justify-content-between">
                <a class="btn btn-success" href="/Comments/Show/@comment.Id">Afiseaza comentariu</a>
            </div>
        </div>
    }
</div>
<br />