@{/* TODO modify this*/}
@if (TempData.ContainsKey("message"))
{
    <h1>@ViewBag.message</h1>
}

@{
    ViewBag.Title = "Lista Grupurilor";
}
<br />
<h3 class="text-center">@ViewBag.Title</h3>
<br />
<br />


@foreach (Cod.Models.Group group in ViewBag.Groups)
{
    @Html.Label("GroupName", "Numele grupului")
    <p>@group.Name</p>
    <a class="btn alert-success" href="/Groups/Show/@group.Id"> Afiseaza grup </a>
    <a class="btn alert-success" href="/Groups/Edit/@group.Id"> Modifica grup </a>
    <br />
    <hr />
    <br />
}
<br />
<div class="align-items-center justify-content-center d-flex">
    <a class="btn btn-success" href="/Groups/New">Creeaza grup</a>
</div>
<br />