@model Cod.Models.Group
@{
    ViewBag.Title = "Show Group";
}

<h2>@ViewBag.Title</h2>

<br />

<p>@Model.Name</p>
<p> @Model.Description </p>
@*<span> @Model.Posts.count </span> *@
<form method="post" action="/Groups/Delete/@Model.Id">

    <button class="btn btn-danger" type = "submit"> Delete current group </button>

</form>

<br />

@foreach (Post post in Model.Posts)
{
            <div class="d-flex flex-row justify-content-between">
                <a class="btn btn-success" href="/Posts/Show/@post.Id">Afiseaza postare</a>
            </div>
}

<a class="btn alert-success" href="/Posts/New"> Add post </a> <br />
<a class="btn alert-success" href="/Groups/Index"> Show all groups </a>

<br />
<hr />
<br />

