@{
    ViewBag.Title = "Listeaza utilizatori";
}

<h1 class="text-center"> @ViewBag.Title </h1>
<hr />
<br />

@foreach (ApplicationUser user in ViewBag.Users)
{
    <div class="card">
        @Html.Partial("ProfileDetails", user)
    </div>
    <br/>
}