<h1>Salut lume!</h1>

@foreach (ApplicationUser user in ViewBag.Users)
{
    <div class="d-flex flex-row justify-content-between margin-auto">
        @Html.Partial("ProfileDetails", user)
        <form action="/ApplicationUsers/Show/@user.Id">
            <button class="btn btn-danger" type="submit">Afiseaza utilizator</button>
        </form>
    </div>
}