@* todo viewbag cu cerere trimisa*@

@model Cod.Models.ApplicationUser

@{
    ViewBag.Title = "Afiseaza utilizator";
}

<h1 class="text-center"> @ViewBag.Title </h1>
<hr />
<br />

<div class="card">
    @Html.Partial("ProfileShowDetails", Model)
</div>