@model Cod.Models.Comment

<div class="card-body">
    <div class="d-flex justify-content-between flex-row mb-2">
        <div class="">
            <i class="bi bi-person"></i> @Model.Profile.FirstName @Model.Profile.LastName
        </div>
        <span>@Model.CreationDate</span>
    </div>
    <div class="card=text ">@Model.Content</div>
</div>
@if (User.IsInRole("Admin") || ViewBag.UserCurent == Model.ProfileId)
{
<div class="d-flex flex-row justify-content-between">
    <a class="btn btn-success" href="/Comments/Edit/@Model.Id">Modifica comentariu</a>
    <form method="post" action="/Comments/Delete/@Model.Id">
        <button class="btn btn-danger" type="submit">Sterge Comentariu</button>
    </form>
</div>
}

<!-- TODO modify (adauga click pe imagini ca sa poti vedea profilu)-->