<div class="card-body">
    <div class="d-flex justify-content-between flex-row mt-5">
        <div>
            <i class="bi bi-person"></i> @Model.Profile.FirstName @Model.Profile.LastName
        </div>
        @{/*TODO ma gandesc*/}
        <span class="alert-success">@Model.CreationDate</span>
    </div>
    <div class="card=text">@Model.Content</div>
</div>