@model Cod.Models.Group

<div class="card-body">
    <div class="d-flex justify-content-between flex-row mb-2">
        <div>
            <i class="bi bi-globe"></i> @Model.Name
        </div>
        <span>@Model.CreationDate</span>
    </div>
    <div>@Model.Description</div>
</div>
@if (User.IsInRole("Admin"))
{
    <div class="d-flex justify-content-between flex-row m-2 mt-0">
        <a class="btn btn-success" href="/Groups/Edit/@Model.Id"> Modifica grup </a>
        <form method="post" action="/Groups/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Sterge grup</button>
        </form>
    </div>
} else
{
    <div class="d-flex justify-content-center flex-row m-2 mt-0">
        @if (ViewBag.isInGroup)
        {
            <form method="post" action="/Groups/GroupJoin/@Model.Id">
                <button class="btn btn-danger" type="submit"> Paraseste grupul </button>
            </form>
        } else
        {
            <form method="post" action="/Groups/GroupJoin/@Model.Id">
                <button class="btn btn-success" type="submit"> Alatura-te grupului </button
            </form>
        }
    </div>
}