<div class="card-body">
    <div class="d-flex justify-content-between flex-row mt-5">
        <div>
            <!-- TODO add username-->
            <i class="bi bi-person"></i>
        </div>
        <span class="alert-success">@Model.CreationDate</span>
    </div>
    <div class="card=text">@Model.Content</div>
</div>