@model Cod.Models.ApplicationUser
@* TODO adresa de mail si tipul de user sunt lalalalla*@

<div class="card-body">
    <div class="d-flex justify-content-between flex-row mb-2">
        <div>
            <i class="bi bi-person"></i> @Model.FirstName @Model.LastName 
        </div>
        @if (!Model.isPrivate)
        {
            <div>
                <i class="bi bi-unlock"></i> Utilizator Public
            </div>
        }
        else
        {
            <div>
                <i class="bi bi-lock"></i> Utilizator Privat
            </div>
        }
            @* @if (Model.isInRole("Admin")) {<i class="bi bi-check-lg"></i>} *@
    </div>
</div>
@* TODO fa astea *@
@if (User.IsInRole("Admin") || ViewBag.UserCurent == Model.Id)
{
    <div class="d-flex justify-content-between flex-row m-2 mt-0">
        <form action="/ApplicationUsers/Show/@Model.Id">
            <button class="btn btn-success" type="submit"><i class="bi bi-eye"></i> Afiseaza utilizator</button>
        </form>
        <form method="post" action="/ApplicationUsers/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i> Sterge Utilizator</button>
        </form>
    </div>
}
else
{
    <div class="d-flex justify-content-center flex-row m-2 mt-0">
        <form action="/ApplicationUsers/Show/@Model.Id">
            <button class="btn btn-success" type="submit"><i class="bi bi-eye"></i> Afiseaza utilizator</button>
        </form>
    </div>
}