@{/* TODO ce vrei de la metoda asta */}

<h1>Afisare comentarii (de la toate postarile)</h1>

<div class="align-items-center justify-content-center d-flex">
    <a class="btn btn-success" href="/Comments/New">Adauga comentariu</a>
</div>
<br />


@foreach (Cod.Models.Comment comment in ViewBag.Comments)
{
    <div class="card">
        @Html.Partial("CommentContent", comment)
        <div class="d-flex flex-row justify-content-between">
            <a class="btn btn-success" href="/Comments/Edit/@comment.Id">Editeaza comentariu</a>

            <form method="post" action="/Comments/Delete/@comment.Id">
                <button class="btn btn-danger" type="submit">Sterge comentariu</button>
            </form>
        </div>
    </div>
    <br />
}