@model Cod.Models.Comment

<div class="card">
    @Html.Partial("CommentContent", Model) 
    <div class="d-flex flex-row justify-content-between">
        <a class="btn btn-success" href="/Comments/Edit/@Model.Id">Editeaza comentariu</a>

        <form method="post" action="/Comments/Delete/@Model.Id">
            <button class="btn btn-danger" type="submit">Sterge comentariu</button>
        </form>
    </div>
</div>
